---
const greeting = "Hello";
const items = ["apple", "banana", "cherry"];
---

<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <h1>{greeting}</h1>
    <ul>
      {items.map((item) => <li>{item}</li>)}
    </ul>
  </body>
</html>
